# ignore environment variables
**.env

# ignore pycache
**__pycache__/*

**the_plan.md
the_plan.ipynb
**the_plan.*
**/original_code/


archive/*
preprocessing/Experiments/*
papers/*

sebastian/*
packaging_tutorial/*
next_number_prediction/*